<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>
    <section class="hero is-fullheight is-bold is-primary">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-half">
                        <h2 class="title is-2 has-text-centered">Регистрация</h2>
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="field is-grouped is-grouped-centered">
                                <div class="control">
                                    <button class="button is-link" type="submit">Зарегистрироваться</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
