<!DOCTYPE html>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css" rel="stylesheet"/>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>

<html lang="en">
<head>
    <meta http-equiv="Refresh" content="3; URL=http://127.0.0.1:8000/">
    <title>redirecting...</title>

<section class="hero is-fullheight is-bold is-primary">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="columns is-centered content is-small">
                        <h1>Вы успешно зарегистрированы, сейчас будет перенаправление на главную страницу</h1>
                    </div>
                </div>
            </div>
        </div>
</section>
</head>

</html>