{% extends 'base.html' %}

{% block title %}Change password{% endblock %}

{% block content %}

<section class="hero is-fullheight is-bold is-primary">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                  <div class="column is-half">
                      <h2 class="title is-2 has-text-centered">Смените пароль</h2>
                      <form  method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button  type="submit">Change password</button>
                        <a href="../../profile" class="button is-link is-inverted is-small is-rounded">Отмена</a>
                      </form>
                  </div>
                </div>
            </div>
        </div>
</section>
{% endblock %}
