{% extends 'base.html' %}

{% block title %}Password reset complete{% endblock %}

{% block content %}
<body>
    <section class="hero is-fullheight is-bold is-primary">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-half">
                        <h1>Password reset complete</h1>
                        <p>Your new password has been set. You can log in now
                            on the <a href="{% url 'login' %}">log in page</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
{% endblock %}
