{% extends 'base.html' %}

{% block title %}Forgot Your Password?{% endblock %}

{% block content %}

<body>
    <section class="hero is-fullheight is-bold is-primary">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-half">
                        <h1>Забыли пароль?</h1>
                        <p>Введите свою почту и мы вышлем инструкции по восстановлению пароля</p>
                        <form method="POST">
                          {% csrf_token %}
                          {{ form.as_p }}
                          <input type="submit" value="Send me instructions!">
                          <a href="/" class="button is-link is-inverted is-small is-rounded">Назад</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

{% endblock %}
