{% extends "base.html" %}

{% block title %}Enter new password{% endblock %}

{% block content %}
<body>
    <section class="hero is-fullheight is-bold is-primary">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-half">
                      {% if validlink %}

                        <h1>Set a new password!</h1>
                        <form method="POST">
                          {% csrf_token %}
                          {{ form.as_p }}
                          <input type="submit" value="Change my password">
                        </form>

                      {% else %}

                        <p>The password reset link was invalid, possibly because it has already been used.
                          Please request a new password reset.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>


{% endif %}
{% endblock %}
